.clockdate-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #C2CEB9;
    border-radius:20px;
    min-width: 230px;
    padding: 40px 28px;  
}
#clock{
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size:80px;
    color:#97A884;
}

#date {
/*    text-transform: uppercase;*/
    text-align: center;
    font-size:14px;
    font-family: 'Oswald', sans-serif;
    font-size:16px;
    letter-spacing: 2px;
    color:#97A884;
}